body{
  color: #4d4150;
  font-family: Verdana, sans-serif;
  margin: 0;
}

header{
  background-color: #efefef;
  padding: 10px;
}

.container{
  /* background-color: pink; */
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.logo{
  margin-left: 30px;
  
}

.link_logo:link, .link_logo:visited, .link_logo:active{
  color: #E73825;
  font-style: italic;
  text-decoration: none;
  text-shadow: -5px 3px #c3b39caa;
  transition: text-shadow .3s;
}

.link_logo:hover{
  text-shadow: 0px 0px #c3b39caa;
}

.info{
  /* background-color: tomato; */
  margin: 0 0 0 auto;
  
}

.info ul{
  color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  display: flex;
  /* align-items: center; */
  
}

.info ul li{
  margin-right: 10px;
  
}

.button1{
  color: #efefef;
  background-color: #bb0009cc;
  box-shadow: 0 1px 2px #C3B39Ccc;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
}
.button1:hover{
  background-color: #bb0009;
}

.button2{
  color: #efefef;
  background-color: #739488cc;
  box-shadow: 0 1px 2px #C3B39Ccc;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  
}

.button2:hover{
  background-color: #739488;
}


h1{
  color: #E73825;
  font-style: italic;
}

h2{
  color: #7f6c68;
  margin-left: 30px;
}

h3{
  margin-left: 40px;
}

p{
  margin-left: 30px;
}

.intro{
  color: #efefef;
  background-color: #7f6c68;
  margin: 0;
  padding-left: 30px;
}

.box{
  width: 700px;
  border-width: 1px;
  border-style: solid;
  border-color: #C3B39C;
  margin: 10px;
  margin-left: 30px;
  padding: 10px;
  
}

.box_form{
  width: 700px;
  background-color: #efefef;
  margin: 10px;
  margin-left: 30px;
  padding: 10px;
  padding-bottom: 20px;
}

/* ボックス内部のp */
.box p{
  margin-left: 0;
}
.box_form p{
  margin-left: 0;
}

/* 書籍ページへのリンク */
.link1:link, .link1:visited, .link1:hover, .link1:active{
  color: #739488;
}

/* 先頭へ戻るのリンク */
.link2:link, .link2:visited, .link2:hover, .link2:active{
  color: #4d4150;
}

/* 本を読み始めるのリンク */
.link3:link, .link3:visited, .link3:hover, .link3:active{
  color: #7f6c68;
}

/* 進行系ボタン */
.submit{
  width: 345px;
  border-style: none;
  color: white;
  font-weight: bold;
  background-color: #E73825cc;
  border-radius: 7px;
  padding: 7px;
}
.submit:hover{
  background-color: #E73825;
}

/* 後退系ボタン */
.btn_back{
  width: 345px;
  border-style: none;
  color: white;
  font-weight: bold;
  background-color: #739488cc;
  border-radius: 7px;
  padding: 7px;
}
.btn_back:hover{
  background-color: #739488;
}


footer p{
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
  color: #C3B39C;
}

/* .message{

}

.error{

} */



